body{
    background-color: black;
    color: white;
}
/* generic class  */
.myborder{
    border: 2px solid red;
}
.vh7{
    height: 7vh;
}
.no-decoration{
    text-decoration: none;
    color: black;
}
:root{
    --primary-color:black;
    --secondary-color:white;
}
/* navbar */
.link-color{
    color: grey;
}
.link-color:hover{
    color: white;
}

/* header */
/* immagini  */

.super-container-logo-hero{
    position: relative;
    width: 440px;
    height: 400px;
}
.container-logo-hero{
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: -900px;
    z-index: 0;
    width: 600px;
}
.logo_pro_custom{
    width: 100px;
    height: auto;
    opacity: 1;
    padding: 10px;
}

/* banner hero */
.banner-hero{
    border-radius: 200px;
    width: 1500px;
    height: 400px;
    background-color: white;
    color: var(--secondary-color);
    z-index: 1;
}

.arrow-hero{
    position: absolute;
    color: var(--primary-color);
    right: -45px;
    top: 380px;
}

.banner-img{
    border-radius: 100%;
    border: 3px solid black;
    width: 350px;
    height: 350px;
    position: absolute;
    right: 300px;
    background-image: url('./media/hero/banner-img.jpeg');
    background-size: cover;
    z-index: 1;
}

.banner-text{
    color: var(--primary-color);
    position: absolute;
    right: 302px;
    text-align: center;
    z-index: 0;
}